<!DOCTYPE html>
<!-- saved from url=(0019)https://watcha.net/ -->
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="http://watcha.net/favicon.ico?v=2">
      <link rel='stylesheet' href='/stylesheets/MenuSlide/MenuSlide.css'>
      <script type="text/javascript" src="/javascripts/MenuSlide/MenuSlide.js"></script>

      <style>
      /* Outer */
        .popup-login {
            width:100%;
            height:100%;
            display:none;
            position:fixed;
            top:0px;
            left:0px;
            background:rgba(0,0,0,0.75);
        }

        /* Inner */
        .popup-inner-login {

            width:80%;

            position:absolute;
            top:50%;
            left:47%;
            -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);

            border-radius:3px;

        }

        /* Close Button */
        .popup-close-login {
            width:30px;
            height:30px;
            padding-top:4px;
            display:inline-block;
            position:absolute;
            top:0px;
            right:0px;
            transition:ease 0.25s all;
            -webkit-transform:translate(50%, -50%);
            transform:translate(50%, -50%);
            border-radius:1000px;
            background:rgba(0,0,0,0.8);
            font-family:Arial, Sans-Serif;
            font-size:20px;
            text-align:center;
            line-height:100%;
            color:#fff;
        }

        .popup-close-login:hover {
            -webkit-transform:translate(50%, -50%) rotate(180deg);
            transform:translate(50%, -50%) rotate(180deg);
            background:rgba(0,0,0,1);
            text-decoration:none;
        }
      </style>
   </head>
   <body class="home mac on-the-cover">
      <div id="fb-root" class=" fb_reset">
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="./b_files/0F7S7QWJ0Ac.html" style="border: none;"></iframe></div>
         </div>
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
         </div>
      </div>
      <div class="payment-bar">
         <div class="payment-bar__text">
            [왓챠플레이 앱출시] 지금 다운로드하고, 첫달은 무료로 감상하세요!
         </div>

         <a class="payment-bar__button" data-popup-open="popup-1" href="#">
         감상하기
         </a>
         <div class="popup-login" data-popup="popup-1">
             <div class="popup-inner-login">
                 <iframe id="login-popup" width="" height="auto"frameborder="0" src="/test"></iframe>
                 <a class="popup-close-login" data-popup-close="popup-1" href="#">x</a>
             </div>
         </div>
      </div>
      <div id="header" class=" with-payment-bar">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                  <li class="navi-item home on">
                     <a href="https://watcha.net/">
                     <img src="./b_files/icon_40-a779704484985e4920effcf2089c560f4390b8a6f4449efde4c59f2c34b3bc04.png" width="30" height="30">
                     </a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item boxoffice ">
                     <a href="https://watcha.net/boxoffice">박스오피스</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="https://watcha.net/recommendation">추천영화</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item evalmore ">
                     <a href="https://watcha.net/evalmore">평가늘리기</a>
                     <span class="highlight"></span>
                  </li>
               </ul>
               <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
                  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
               </form>
               <div id="gnb-right-menu" class="right-menu">
                  <div class="menu partner ">
                     <img class="thumbnail partner" src="https://watcha.net/" width="30" height="30" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                     <span class="movie-partner-btn">영화친구 설정하기</span>
                     <span class="highlight"></span>
                     <div class="dropdown">
                        <span class="title">무비파트너 설정</span>
                        <div class="thumbnails">
                           <img class="thumbnail my" src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="50" height="50" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                           <img class="thumbnail partner" src="https://watcha.net/" width="50" height="50" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                           <span class="movie-partner-btn">영화친구 설정하기</span>
                        </div>
                        <p class="desc prevent-delete">
                        </p>
                        <p class="desc induce-register">
                           무비파트너를 설정하세요.<br>
                           취향 매칭율과 친구의 예상 별점을 알려드려요. :)
                        </p>
                        <button class="btn">
                        설정하기
                        </button>
                     </div>
                  </div>
                  <div class="menu my">
                     <a class="name" href="https://watcha.net/v2/users/k1dp84nRqd4m">
                     유동원
                     <img class="thumbnail" src="./b_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="30" height="30" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                     </a>          <span class="highlight"></span>
                     <div class="dropdown">
                        <ul>
                           <li>
                              <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                              <span class="count">19</span>
                           </li>
                           <li>
                              <a href="https://watcha.net/giftbox">선물함</a>
                           </li>
                           <li class="divide-line">
                              <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                           </li>
                           <li class="divide-line">
                              <a href="https://watcha.net/#" class="setting">설정</a>
                           </li>
                           <li>
                              <a href="https://watcha.net/logout">로그아웃</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="contents" style="min-height: 776px;">
         <div class="kwz" style="height: 500px; width: 1279px; position: fixed; display: block;">
            <ul class="items bjqs" style="height: 500px; width: 1279px; display: block;">

              <%if (rows.length > 0) { %>
                <%
                    for(var i=0; i<rows.length; i++)
                    {
                      var oneItem = rows[i];
                %>
                <li class="item idx-1 bjqs-slide" style="background-image: url(<%=oneItem.poster_img_url%>); height: 500px; width: 1279px; display: none;">
                   <div class="gradation"></div>
                   <div class="kwz-desc-wrapper">
                      <div class="kwz-desc responsive-mask">
                         <div class="predicted-rating">

                         </div>
                         <dt>오늘의 박스오피스</dt>
                         <dd>
                            <a data-movie-title-url="pirates-of-the-caribbean-2013" data-movie-id="m3xlkh" class="title" href="https://watcha.net/movies/m3xlkh?unique_id=m3xlkh"><%=oneItem.title_kor%></a>
                            <div class="movie-desc">
                               평균 별점 : <%=oneItem.rating%>
                               , 예매율
                               : 52.89%
                               <br>
                               <%=oneItem.release_date%>, <%=oneItem.nation%>, <%=oneItem.genre%>, <%=oneItem.grade%>, <%=oneItem.run_time%>
                               <br>
                               감독 : <%=oneItem.director%>
                               <br>
                               배우 : <%=oneItem.actors%>
                               <br>
                               <div class="reservation">
                                  <span class="text">
                                  <span class="icon"></span>
                                  예매하기
                                  <span class="bar"></span>
                                  </span>
                                  <ul class="reservation-list">
                                     <li class="theater-item megabox_id">
                                        <a href="http://www.megabox.co.kr/?show=detail&amp;rtnShowMovieCode=011859" target="_blank" data-theater="megabox_id">megabox_id</a>
                                     </li>
                                  </ul>
                               </div>
                            </div>
                         </dd>
                      </div>
                   </div>
                </li>
                <%
                    }
                %>
              <% } %>



            </ul>
            <ul class="bjqs-controls v-centered">
               <li class="bjqs-prev"><a href="https://watcha.net/#" data-direction="previous" style="top: 46%;">Prev</a></li>
               <li class="bjqs-next"><a href="https://watcha.net/#" data-direction="forward" style="top: 46%;">Next</a></li>
            </ul>
            <div class="bjqs-markers-wrapper" style="width: 1279px;"></div>
         </div>
         <div class="recommend-wrapper">
            <ol class="sections-wrapper">
               <li id="boxoffice-section" class="boxoffice responsive-mask section">
         </div>
      </div>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>
      <h5>TEST<br><br><br><br><br><br></h5>

      <script type="text/javascript" src="/javascripts/jquery1.11.2.js"></script>
      <script>

        $('#login-popup').load(function(){
        var h = this.contentWindow.document.body.offsetHeight;
        $(this).height(h);
        });

      $(function() {
          //----- OPEN
          $('[data-popup-open]').on('click', function(e)  {
              var targeted_popup_class = jQuery(this).attr('data-popup-open');
              $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

              e.preventDefault();
          });

          //----- CLOSE
          $('[data-popup-close]').on('click', function(e)  {
              var targeted_popup_class = jQuery(this).attr('data-popup-close');
              $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

              e.preventDefault();
          });
      });
      </script>
   </body>
</html>
