<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Booking.css">
   </head>
   <body class="landing nanum-gothic linux">

       <link rel="stylesheet" media="screen" href="/stylesheets/Reservation.css">
       <!-- <script src="/javascripts/Reservation.js"></script> -->

       <div>
           <div style="position:relative; margin-right:475px; height:600px;">
             <div style="">
                 <div id="container" class="container">
                   <div id="list-1" class="list">
                     <div class="icon"></div>
                     <div class="title"><%=rows[0].title_eng%>&nbsp;&nbsp; / &nbsp;&nbsp;<%=screens[0].theater%></div>
                   </div>
                 </div>
             </div>
           </div>
           <div style="position:relative; margin-left:475px; margin-top:-600px; height:600px;">
             <div style="">
                 <div id="container" class="container">

                   <%
                    var one=0, two=0, three=0, four =0, five=0, six=0, seven=0
                    var eight=0, nine=0, ten=0, eleven=0, t=0, tt=0
                    for(var i=0;i<screens.length; i++)
                    {
                      if(screens[i].room == '1관')
                      {
                          if(one == 0)
                          {
                            one = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">1관</div>
                              <ul>

                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '1관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '2관')
                      {
                          if(two == 0)
                          {
                            two = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">2관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '2관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '3관')
                      {
                          if(three == 0)
                          {
                            three = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">3관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '3관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '4관')
                      {
                          if(four == 0)
                          {
                            four = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">4관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '4관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '5관')
                      {
                          if(five == 0)
                          {
                            five = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">5관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '5관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '6관')
                      {
                          if(six == 0)
                          {
                            six = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">6관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '6관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '7관')
                      {
                          if(seven == 0)
                          {
                            seven = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">7관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '7관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '8관')
                      {
                          if(eight == 0)
                          {
                            eight = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">8관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '8관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '9관')
                      {
                          if(nine == 0)
                          {
                            nine = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">9관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '9관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '10관')
                      {
                          if(ten == 0)
                          {
                            ten = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">10관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '10관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '11관')
                      {
                          if(eleven == 0)
                          {
                            eleven = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">11관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '11관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '12관')
                      {
                          if(t == 0)
                          {
                            t = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">12관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '12관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                      if(screens[i].room == '13관')
                      {
                          if(tt == 0)
                          {
                            tt = 1
                            %>
                            <div id="list-1" class="list">
                              <div class="icon"></div>
                              <div class="title">13관</div>
                              <ul>
                                <%
                                for(var j=0;j<screens.length; j++)
                                {
                                  var run_time = rows[0].run_time
                                  run_time = run_time.slice(0, -1);
                                  run_time = parseInt(run_time)

                                  var start_time = screens[j].start_time
                                  var hour = start_time.slice(0,2)
                                  hour = parseInt(hour)
                                  var minute = start_time.slice(2,4)
                                  minute = parseInt(minute)
                                  minute = minute + run_time
                                  var remainder = minute % 60
                                  var quota = parseInt(minute / 60)
                                  hour = hour + quota
                                  var str_remainder = ''
                                  if(remainder < 10) {
                                    str_remainder = '0' + remainder.toString()
                                  }
                                  else {
                                    str_remainder = remainder.toString()
                                  }

                                  if(screens[j].room == '13관')
                                  {
                                    %>
                                      <a target="_parent" href="/movies/booking-three/<%=rows[0].title_eng%>/<%=screens[j].theater%>/<%=screens[j].start_time%>"><li style="font-size:13px;"><%=screens[j].start_time[0]%><%=screens[j].start_time[1]%>: <%=screens[j].start_time[2]%><%=screens[j].start_time[3]%> ~ <%=hour%>:<%=str_remainder%></li></a>
                                    <%
                                  }
                                }
                                %>
                              </ul>
                            </div>
                            <%
                          }
                      }
                    }
                   %>



                 </div>
             </div>

           </div>
       </div>
       <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

       <script>
       $('.list').click(function(){
         $(this).find('ul').toggleClass('open');
       });
       </script>

   </body>
</html>
