<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/top_menu') %>
    </head>
    <body>
        <header>
            <%- include('partials/bootstrap') %>
        </header>
        <main>


            <div style="margin: 100px 250px 0px 250px;">
              <%- include('partials/TopSlide') %>
            </div>

            <div style="margin: 50px 100px 100px 100px;">
              <%- include('partials/ResponsiveCards') %>
            </div>


        </main>
        <footer>
          <%- include('partials/Footer') %>
        </footer>
    </body>
</html>
