<!DOCTYPE html>
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/MenuSlide.css">
      <script src="/javascripts/MenuSlide.js"></script>
   </head>
   <body class="home mac on-the-cover">
      <div class="payment-bar">
         <div class="payment-bar__text">
            [GOD ROYAL] 지금 예매하고, 최신영화를 감상하세요!
         </div>

      </div>
      <div id="header" class=" with-payment-bar">
         <div class="for-popup-scroll-area-margin">
            <div class="inner responsive-mask">
               <ul class="gnb clearfix">
                  <li class="navi-item home on">
                     <a href="/">
                     <img src="/images/logo/logo.png" width="30" height="30">
                     </a>
                     <!-- <span class="highlight"></span> 로고 밑에 빨간 선 -->
                  </li>
                  <li class="navi-item boxoffice">
                     <a class ="name" href="/movies">박스오피스</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="/movies/latestoffice">최신영화</a>
                     <span class="highlight"></span>
                  </li>
                  <li class="navi-item genre ">
                     <a href="/movies/recommend">추천영화</a>
                     <span class="highlight"></span>
                  </li>
               </ul>


               <form accept-charset="UTF-8" action="/search" id="search-form" method="get">
                  <div class="input-wrapper">
                     <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                     <input id="input-query" name="title_eng" type="search" autocomplete="off" class="ui-autocomplete-input">
                     <span id="search-icon"></span>
                  </div>
               </form>


               <% if(email){ %>
                 <div id="gnb-right-menu" class="right-menu">

                    <div class="menu my" style="padding-bottom: 10px;">
                       <a class="name" href="/logout">
                            로그아웃
                       </a>
                       <span class="highlight"></span>

                    </div>
                    <div class="menu my" style="padding-bottom: 10px;">
                       <a class="name" href="">
                            예약내역
                       </a>
                       <span class="highlight"></span>
                    </div>
                    <div class="menu my" style="padding-bottom: 10px;">
                       <a class="name" href="">
                            영화보관함
                       </a>
                       <span class="highlight"></span>
                    </div>
                 </div>
               <% }else{ %>
                 <div id="gnb-right-menu" class="right-menu">
                    <div class="menu my" style="padding-bottom: 10px;">
                       <a class="name" href="/signup">
                            회원가입

                       </a>
                       <span class="highlight"></span>
                    </div>
                    <div class="menu my" style="padding-bottom: 10px;">
                       <a class="name" href="/login">
                            로그인

                       </a>
                       <span class="highlight"></span>

                    </div>
                 </div>

               <% } %>

            </div>
         </div>
      </div>
      <div id="contents" style="min-height: 776px;">
         <div class="kwz" style="height: 500px; width: 1279px; position: fixed; display: block;">
            <ul class="items bjqs" style="height: 500px; width: 1279px; display: block;">

                <%
                    for(var i=0; i<rows.length; i++)
                    {
                      var oneItem = rows[i];
                      var width_star = 0;
                      var total_star = 0

                      var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                      if (total_rate != 0) {
                        total_star = (oneItem.likes.length / total_rate) * 5;
                        total_star = total_star.toFixed(1);
                        width_star = total_star * 20;
                      }
                %>
                <li class="item idx-1 bjqs-slide" style="background-image: url('<%=oneItem.wide_img_url%>'); height: 500px; width: 1279px; display: none;">
                   <div class="gradation"></div>
                   <div class="kwz-desc-wrapper">
                      <div class="kwz-desc responsive-mask">
                         <div class="predicted-rating">

                         </div>
                         <dt>오늘의 박스오피스</dt>
                         <dd>
                            <a class="title" href="/movies/detail/<%=oneItem.title_eng%>"><%=oneItem.title_kor%></a>
                            <div class="movie-desc">
                               평균 별점 : <%=total_star%>
                               <span class="stars stars--large">
                                 <span style="width: <%=total_star*20%>%">
                               </span></span>
                               <!-- 예매율
                               : 52.89% -->
                               <br>
                               <%=oneItem.release_date%>, <%=oneItem.nation%>, <%=oneItem.genre%>, <%=oneItem.grade%>, <%=oneItem.run_time%>
                               <br>
                               감독 : <%=oneItem.director%>
                               <br>
                               배우 : <%=oneItem.actors%>
                               <br>

                            </div>
                         </dd>
                      </div>
                   </div>
                </li>
                <%
                    }
                %>



            </ul>
         </div>
         <div class="recommend-wrapper">
            <ol class="sections-wrapper">
                <link rel='stylesheet' href='/stylesheets/Movies.css'>
                <script type="text/javascript" src="/javascripts/Movies.js"></script>
               <li id="boxoffice-section" class="boxoffice responsive-mask section" style="height:1000px; min-width:1800px;">
                 <a class="button" href="/movies">
                 <h3 class="title" style="margin-left: 130px; margin-bottom: -65px; font-weight: normal; font-size:25px;">박스오피스</h3>
                </a>
                 <div class="cards">
                   <%
                      var num = 0
                      if(rows.length > 10)
                      {
                          num = 10;
                      }
                      else
                      {
                          num = rows.length;
                      }

                      for (var i = 0; i < num; i++)
                      {
                        oneItem = rows[i];
                        var width_star = 0;
                        var total_star = 0

                        var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                        if (total_rate != 0) {
                          total_star = (oneItem.likes.length / total_rate) * 5;
                          total_star = total_star.toFixed(1);
                          width_star = total_star * 20;
                        }
                   %>
                   <div class="card">
                     <img src="<%=oneItem.poster_img_url%>">
                     <div class="card-title">
                       <a href="/" class="toggle-info btn-1">
                         <span class="left"></span>
                         <span class="right"></span>
                       </a>

                       <h2>
                           <!-- <img src="http://tvguide.cablenetcy.net/logos/min_age/18.png"> -->
                           <%=oneItem.title_kor%><br>

                           <!-- 평점 4.5 &nbsp; -->

                               <span class="stars stars--large">
                                 <span style="width: <%=width_star%>%" />
                               </span>


                       </h2>
                     </div>
                     <div class="card-flap flap1">
                       <div class="card-description">
                         <%=oneItem.title_eng%><br> <%=oneItem.release_date%>, <%=oneItem.nation%>, <%=oneItem.genre%>, <%=oneItem.grade%>, <%=oneItem.run_time%>
                       </div>
                       <div class="card-flap flap2">
                         <div class="card-actions">
                           <a href="/movies/detail/<%=oneItem.title_eng%>" url="/movies/detail/<%=oneItem.title_eng%>" class="btn">Read more</a>
                         </div>
                       </div>
                     </div>
                   </div>
                   <%
                      }
                   %>


                 </div>
               </li>
               <li id="boxoffice-section" class="boxoffice responsive-mask section" style="height:1000px; min-width:1800px;">
                 <a class="button" href="/movies/latestoffice">
                 <h3 class="title" style="margin-left: 130px; margin-bottom: -65px; font-weight: normal; font-size:25px;">최신 영화</h3>
                </a>
                <div class="cards">
                  <%
                     var num = 0
                     if(rowslatest.length > 10)
                     {
                         num = 10;
                     }
                     else
                     {
                         num = rowslatest.length;
                     }

                     for (var i = 0; i < num; i++)
                     {
                       oneItem = rowslatest[i];
                       var width_star = 0;
                       var total_star = 0

                       var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                       if (total_rate != 0) {
                         total_star = (oneItem.likes.length / total_rate) * 5;
                         total_star = total_star.toFixed(1);
                         width_star = total_star * 20;
                       }
                  %>
                  <div class="card">
                    <img src="<%=oneItem.poster_img_url%>">
                    <div class="card-title">
                      <a href="#" class="toggle-info btn-1">
                        <span class="left"></span>
                        <span class="right"></span>
                      </a>

                      <h2>
                          <!-- <img src="http://tvguide.cablenetcy.net/logos/min_age/18.png"> -->
                          <%=oneItem.title_kor%><br>

                          <!-- 평점 4.5 &nbsp; -->

                              <span class="stars stars--large">
                                <span style="width: <%=width_star%>%" />
                              </span>


                      </h2>
                    </div>
                    <div class="card-flap flap1">
                      <div class="card-description">
                        <%=oneItem.title_eng%><br> <%=oneItem.release_date%>, <%=oneItem.nation%>, <%=oneItem.genre%>, <%=oneItem.grade%>, <%=oneItem.run_time%>
                      </div>
                      <div class="card-flap flap2">
                        <div class="card-actions">
                          <a href="/movies/detail/<%=oneItem.title_eng%>" url="/movies/detail/<%=oneItem.title_eng%>" class="btn">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%
                     }
                  %>


                </div>
               </li>

         </div>
      </div>

      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer" style="clear:both">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
                <li><a class="facebook" href=//facebook.com></a></li>
                <li><a class="google" href=//google.com></a></li>
                <li><a class="pinterest" href=//pinterest.com></a></li>
                <li><a class="youtube" href=//youtube.com></a></li>
                <li><a class="instagram" href=//instagram.com></a></li>
                <li><a class="linkedin" href=//linkedin.com></a></li>
            </ul>
        </footer>
    </div>

    <script>

    $('.btn').click(function(event) {

      var url = $(this).attr('url')
      window.location.href = url;



    });



</script>
   </body>
</html>
