<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/top_menu') %>
    </head>
    <body>
        <header>
            <%- include('partials/bootstrap') %>
        </header>
        <main>

          <div style="position: relative; width: 100%;">
            <div style="padding: 5% 13% 0% 13%">
              <%- include('partials/TopSlide') %>
            </div>
            <div style="padding: 2% 13% 0% 13%">
              <%- include('partials/MidSlide') %>
            </div>
          </div>
            <div style="padding: 2% 10% 2% 10%">
              <%- include('partials/ResponsiveCards') %>
            </div>


        </main>
        <footer>
          <%- include('partials/Footer') %>
        </footer>
    </body>
</html>
