<!DOCTYPE html>
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
     <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
     <link rel="stylesheet" media="screen" href="/stylesheets/MenuSlide.css">
     <script src="/javascripts/MenuSlide.js"></script>
   </head>
   <body class="boxoffice linux">
       <div id="header">
           <div class="for-popup-scroll-area-margin">
               <div class="inner responsive-mask">
                   <ul class="gnb clearfix">
                       <li class="navi-item home ">
                           <a href="/">
                           <img src="/images/logo/logo.png" width="30" height="30">
                           </a>
                           <span class="highlight"></span>
                       </li>
                       <li class="navi-item boxoffice">
                          <a href="/movies">박스오피스</a>
                          <span class="highlight"></span>
                       </li>
                       <li class="navi-item genre ">
                          <a href="/movies/latestoffice">최신영화</a>
                          <span class="highlight"></span>
                       </li>
                       <li class="navi-item genre ">
                          <a href="/movies/recommend">추천영화</a>
                          <span class="highlight"></span>
                       </li>
                   </ul>
                   <form accept-charset="UTF-8" action="/search" id="search-form" method="get">
                      <div class="input-wrapper">
                         <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                         <input id="input-query" name="title_eng" type="search" autocomplete="off" class="ui-autocomplete-input">
                         <span id="search-icon"></span>
                      </div>
                   </form>
                   <% if(email){ %>
                     <div id="gnb-right-menu" class="right-menu">


                        <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                           <a class="name" href="/logout">
                                로그아웃

                           </a>
                           <span class="highlight"></span>
                        </div>
                        <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                           <a class="name" href="">
                                예약내역
                           </a>
                           <span class="highlight"></span>
                        </div>
                        <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                           <a class="name" href="">
                                영화보관함
                           </a>
                           <span class="highlight"></span>
                        </div>

                     </div>
                   <% }else{ %>
                     <div id="gnb-right-menu" class="right-menu">
                        <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                           <a class="name" href="/signup">
                                회원가입

                           </a>
                           <span class="highlight"></span>
                        </div>
                        <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                           <a class="name" href="/login">
                                로그인

                           </a>
                           <span class="highlight"></span>

                        </div>
                     </div>

                   <% } %>


               </div>
           </div>
       </div>


       <link rel="stylesheet" media="screen" href="/stylesheets/MovieCard.css">
       <div id="contents" style="min-height: 927px;">

           <div id="boxoffice-contents">
               <div class="responsive-mask clearfix">
                 <%
                    if(norate)
                    {
                 %>
                 <div id="searched_movies_title" class="container_12" style="font-size: 22px;font-weight: bold;color: #ff382e;padding-left: 35%;">
                  평가한 영화 정보가 없어요. 영화를 평가해 주세요.
                 </div>
                 <%
                    }
                 %>

                   <div id="left-cards">
                       <div class="ranking card grid-1 hei-1">
                           <h4 class="head">영화 랭킹</h4>
                           <div class="inner">
                               <ol class="list">
                                   <%
                                       for(var i=0; i<8; i++)
                                       {
                                         var oneItem_order = rows_order[i];
                                   %>
                                   <li class="item rank1" style="">
                                       <a href="/movies/detail/<%=oneItem_order.title_eng%>">
                                           <span class="number"><%=i+1%></span><%=oneItem_order.title_kor%>
                                       </a>
                                   </li>
                                   <%
                                       }
                                   %>
                               </ol>
                           </div>
                       </div>
                   </div>
                   <div id="movie-cards">

                     <%
                         for(var i=0; i<rows.length; i++)
                         {
                           var oneItem = rows[i];
                           var width_star = 0;
                           var total_star = 0

                           var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                           if (total_rate != 0) {
                             total_star = (oneItem.likes.length / total_rate) * 5;
                             total_star = total_star.toFixed(1);
                             width_star = total_star * 20;
                           }

                     %>
                       <div class="boxoffice-card card grid-4 hei-1">
                           <div class="poster-area">
                               <div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m3xlkh fix-action-box card grid-1 hei-1">
                                   <div class="poster-wrapper">
                                       <img class="poster" src="<%=oneItem.poster_img_url%>"width="100%">
                                   </div>
                               </div>
                           </div>
                           <div class="movie-info" id="<%=oneItem.title_eng%>">
                               <h5 class="title-filmrate">
                                 <a href="/movies/detail/<%=oneItem.title_eng%>" class="movie-title">
                                   <%=oneItem.title_kor%>
                                 </a>
                                 <span class="filmrate rate-<%=oneItem.grade%>"><%=oneItem.grade%></span>
                                 <!-- <span class="filmrate rate-15">15</span>
                                 <span class="filmrate rate-18">18</span>
                                 <span class="filmrate rate-all">all</span> -->
                               </h5>
                               <div class="running-info">
                                   <span class="dday">
                                     개봉일: <%=oneItem.release_date[0]%><%=oneItem.release_date[1]%><%=oneItem.release_date[2]%><%=oneItem.release_date[3]%>년
                                     <%=oneItem.release_date[4]%><%=oneItem.release_date[5]%>월
                                     <%=oneItem.release_date[6]%><%=oneItem.release_date[7]%>일
                                   </span>
                                   <!-- <span class="audience-count">누적 관객수 1천명</span> -->
                               </div>
                               <form name="myform" method="post" action="/">
                               <div class="actions">
                                 <%
                                 if(email)
                                 {


                                   if(oneItem.likes.indexOf(email)>-1)
                                   {
                                     %>

                                       <div class="trailer btn rating_bad" rating="bad" style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                           <span class="icon bad"></span>
                                           <text><%=oneItem.dislikes.length%></text>
                                       </div>

                                       <div class="trailer btn rating_good" rating="good" style="color: #ff5148;" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="1" data-youtube-id="5RWz1ostEt8">

                                           <span class="icon good active"></span>
                                           <text><%=oneItem.likes.length%></text>

                                       </div>

                                       <%
                                          }
                                          else if(oneItem.dislikes.indexOf(email)>-1)
                                          {
                                          %>
                                         <div class="trailer btn rating_bad" rating="bad" style="color: #ff5148;" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="1" data-youtube-id="5RWz1ostEt8">
                                             <span class="icon bad active"></span>
                                             <text><%=oneItem.dislikes.length%></text>
                                         </div>
                                         <div class="trailer btn rating_good" rating="good" style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                             <span class="icon good"></span>
                                             <text><%=oneItem.likes.length%></text>
                                         </div>
                                        <%
                                        }
                                        else
                                        {
                                        %>
                                          <div class="trailer btn rating_bad" rating="bad" style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                              <span class="icon bad"></span>
                                              <text><%=oneItem.dislikes.length%></text>
                                          </div>
                                          <div class="trailer btn rating_good" rating="good" style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                              <span class="icon good"></span>
                                              <text><%=oneItem.likes.length%></text>
                                          </div>
                                        <%
                                        }

                                   }
                                   else
                                   {
                                 %>
                                 <div class="trailer btn" rating="bad"style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                     <span class="icon bad"></span>
                                     <text><%=oneItem.dislikes.length%></text>
                                 </div>
                                 <div class="trailer btn" rating="good" style="" title_eng="<%=oneItem.title_eng%>" email="<%=email%>" status ="0" data-youtube-id="5RWz1ostEt8">
                                     <span class="icon good"></span>
                                     <text><%=oneItem.likes.length%></text>
                                 </div>
                                 <%
                                    }
                                 %>



                                 <%
                                    if(oneItem.current == "1")
                                    {
                                 %>

                                 <a href="/movies/booking-one/<%=oneItem.title_eng%>">
                                   <div class="reserve btn">
                                           <span class="icon"></span>예매
                                   </div>
                                 </a>
                                 <%
                                    }
                                 %>
                                 <a href="<%=oneItem.youtube%>" target="_blank"><div class="trailer btn rating" data-youtube-id="5RWz1ostEt8">
                                     <span class="icon"></span> 예고편
                                 </div></a>
                               </div>
                             </form>
                               <div class="detail-info">
                                   <div class="genre-time-filmrate">
                                       <%=oneItem.genre%>, <%=oneItem.run_time%>, <% if(oneItem.grade == "all") {oneItem.grade="전체관람가";} else { oneItem.grade = oneItem.grade+"세 관람가";}%><%=oneItem.grade%>
                                       <% if(oneItem.grade == "전체관람가") {oneItem.grade = "all";} else if(oneItem.grade == "18세 관람가") {oneItem.grade = "18";} else if(oneItem.grade == "15세 관람가") {oneItem.grade="15";} else {oneItem.grade="12"} %>
                                   </div>
                                   <div class="watcha-rating-wrapper">
                                     <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                                     <span class="stars stars--large">
                                        <span style="width: <%=width_star%>%"></span>
                                     </span>
                                       <span class="number"><%=total_star%></span>
                                       <span class="eval-count">(<%=total_rate%>명 참여)</span>
                                   </div>

                                   <div class="directors">
                                       감독 :
                                       <%=oneItem.director%>
                                   </div>
                                   <div class="casts">
                                       주연 :
                                       <%=oneItem.actors%>
                                   </div>
                               </div>

                               <div class="comment">
                                       <img width="30" height="30" src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" onerror="loadDefaultImg(this, &#39;medium&#39;);return false;">

                                   <a class="name"><%=oneItem.comment[oneItem.comment.length-1]['email']%></a>

                                   <p class="text">
                                       <%=oneItem.comment[oneItem.comment.length-1]['text']%>
                                   </p>
                                   <div class="counts">

                               </div>
                               </div>

                           </div>
                       </div>
                       <%
                           }
                       %>



                   </div>
               </div>
           </div>
       </div>






        <link rel='stylesheet' href='/stylesheets/Footer.css'>
        <div id="footer" style="clear:both">
          <footer class="top-footer">
              <h5>Join GodRoyal On</h5>
              <ul class="social">
                <li><a class="facebook" href=//facebook.com></a></li>
                <li><a class="google" href=//google.com></a></li>
                <li><a class="pinterest" href=//pinterest.com></a></li>
                <li><a class="youtube" href=//youtube.com></a></li>
                <li><a class="instagram" href=//instagram.com></a></li>
                <li><a class="linkedin" href=//linkedin.com></a></li>
              </ul>
          </footer>
      </div>


      <script>

      $('.rating_bad').click(function(event) {

        if($(this).attr('status') == "1") return false

        var a = $(this).parent()
        a = a.find("[rating='good']");


        var good = a.attr('status')
        var bad = $(this).attr('status')

        var bad_count = parseInt($(this).find('text').text());
        var good_count = parseInt(a.find('text').text())




        if (good+bad == 0) {
          stat = 0;
          $(this).find('text').text(++bad_count)
        }
        else {
          stat = 1;
          $(this).find('text').text(++bad_count)
          a.find('text').text(--good_count)
        }

        a.find('span').removeClass("active");
        a.css({ color: "" });
        $(this).css({ color: "#ff5148" });
        $(this).find('span').addClass("active");






        $.ajax({
            type: "post",
            url: "http://localhost:3000/movies/update/rating_bad",
            // data: $(this).serialize(),
            data: { title_eng:$(this).attr('title_eng'), email:$(this).attr('email'), status:stat },
            success: function (response) {
                if (response == "done") {
                    // alert(response + "Form submitted successfully!");
                } else {
                    // alert(response + "Form submission failed!");
                }
            },
            error: function (response) {
                alert(response);
            }
        });
        $(this).attr({ status: "1" });
        a.attr({ status: "0" })

      });

      $('.rating_good').click(function(event) {

        if($(this).attr('status') == "1") return false

        var a = $(this).parent()
        a = a.find("[rating='bad']");

        var good = a.attr('status')
        var bad = $(this).attr('status')

        var good_count = parseInt($(this).find('text').text());
        var bad_count = parseInt(a.find('text').text())

        if (good+bad == 0) {
          stat = 0;
          $(this).find('text').text(++good_count)
        }
        else {
          stat = 1;
          $(this).find('text').text(++good_count)
          a.find('text').text(--bad_count)
        }

        a.find('span').removeClass("active");
        a.css({ color: "" });

        $(this).css({ color: "#ff5148" });
        $(this).find('span').addClass("active");


        $.ajax({
            type: "post",
            url: "http://localhost:3000/movies/update/rating_good",
            // data: $(this).serialize(),
            data: { title_eng:$(this).attr('title_eng'), email:$(this).attr('email'), status:stat },
            success: function (response) {
                if (response == "done") {
                    // alert(response + "Form submitted successfully!");
                } else {
                    // alert(response + "Form submission failed!");
                }
            },
            error: function (response) {
                alert(response);
            }
        });
        $(this).attr({ status: "1" });
        a.attr({ status: "0" })
      });

</script>
   </body>
</html>
