<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Movie-Detail.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

     <div id="header">
         <div class="for-popup-scroll-area-margin">
             <div class="inner responsive-mask">
                 <ul class="gnb clearfix">
                     <li class="navi-item home ">
                         <a href="/">
                         <img src="/images/logo/logo.png" width="30" height="30">
                         </a>
                         <span class="highlight"></span>
                     </li>
                     <li class="navi-item boxoffice">
                        <a href="/movies">박스오피스</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/latestoffice">최신영화</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/recommend">추천영화</a>
                        <span class="highlight"></span>
                     </li>
                 </ul>
                 <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                     <div class="input-wrapper">
                         <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                         <span id="search-icon"></span>
                     </div>
                     <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
                 </form>
                 <% if(email){ %>
                   <div id="gnb-right-menu" class="right-menu">


                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/logout">
                              로그아웃

                         </a>
                         <span class="highlight"></span>

                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="">
                              예약내역
                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="">
                              영화보관함
                         </a>
                         <span class="highlight"></span>
                      </div>
                   </div>
                 <% }else{ %>
                   <div id="gnb-right-menu" class="right-menu">
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/signup">
                              회원가입

                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/login">
                              로그인

                         </a>
                         <span class="highlight"></span>

                      </div>
                   </div>

                 <% } %>


             </div>
         </div>
     </div>
      <div id="contents" style="min-height: 927px;">
         <div class="movie-detail-container">
            <div class="movie-detail m3xlkh detail-page ">

               <div class="top-area">
                  <div class="biggest-stillcut ">
                     <div id="slider" class="swipe" style="visibility: visible;">
                        <div class="swipe-wrap" style="width: 12220px;">
                          <%
                            var left = 0
                            var rightNow = new Date();
                            var today = rightNow.toISOString().slice(0,10).replace(/-/g,"");
                            var dday = today - parseInt(rows[0].release_date);
                            var dday_str = ''
                            if (dday >= 0) dday_str  = 'D + ' + dday
                            else dday_str = 'D ' + dday

                            var oneItem = rows[0];
                            var width_star = 0;
                            var total_star = 0

                            var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                            if (total_rate != 0) {
                              total_star = (oneItem.likes.length / total_rate) * 5;
                              total_star = total_star.toFixed(1);
                              width_star = total_star * 20;
                            }

                            for(var i = 0; i < rows[0]['slide_img_url'].length; i++)
                            {
                              left = left + 940
                          %>
                              <div style="background-image: url('<%=rows[0]['slide_img_url'][i]%>'); width: 940px; left: -<%=left%>px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="<%=i%>"></div>
                          <%
                            }
                          %>


                        </div>
                     </div>
                     <ul class="swipe-controls">
                        <li class="swipe-prev">
                           <a href="#">이전</a>
                        </li>
                        <li class="swipe-next">
                           <a href="#">다음</a>
                        </li>
                     </ul>
                  </div>
                  <div class="stillcut-shadow"></div>
                  <div class="running-info">
                     <div class="item booking-rate">
                        <div class="head">평점</div>
                        <div class="data"><span class="number"></span><%=total_star*2%> / 10</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item customer-count">
                        <div class="head">관람등급</div>
                        <div class="data"><%=rows[0].grade%></div>
                        <span class="divider"></span>
                     </div>
                     <div class="item d-day">
                        <div class="head">개봉일</div>
                        <div class="data english"><%=rows[0].release_date[0]%><%=rows[0].release_date[1]%><%=rows[0].release_date[2]%><%=rows[0].release_date[3]%>.
                        <%=rows[0].release_date[4]%><%=rows[0].release_date[5]%>.<%=rows[0].release_date[6]%><%=rows[0].release_date[7]%></div>
                     </div>
                  </div>

                  <%
                    if(rows[0].current == "1")
                  {
                  %>
                  <a href="/movies/booking-one/<%=oneItem.title_eng%>">
                      <div class="booking-button book">
                          <span class="icon"></span>예매하기
                      </div>
                  </a>
                  <%
                }
                  %>

               </div>
               <div class="cise-wrapper" itemscope="" itemtype="http://data-vocabulary.org/review-aggregate">
                  <div id="detailWatchaCard" style="">
                     <div class="movie-card size-1x1 poster-type base_movie  user-action-m3xlkh card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="<%=rows[0].poster_img_url%>" width="100%">
                        </div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     var movieDetailWrapper = $('.movie-detail.m3xlkh.detail-page')
                     var detailWatchaCard = movieDetailWrapper.find('#detailWatchaCard')
                     $.ajax({
                       url: '/movie/m3xlkh.json',
                       success: function(movie){
                         card = new MovieCard('poster_movie_card', '1x1', movie.items[0], {
                           preventDetailPopup: true,
                           hidePredictedRating: true
                         });0
                         detailWatchaCard.append(card.el);
                         detailWatchaCard.show();
                       }
                     })
                  </script>
                  <div class="info">
                     <div class="title"><%=rows[0].title_kor%></div>
                  </div>

                  <div class="desc"><%=rows[0].title_eng%>, <%=rows[0].release_date%>, <%=rows[0].nation%>, <%=rows[0].genre%>, <%=rows[0].grade%>, <%=rows[0].run_time%></div>
                  <div class="watcha-rating-wrapper">
                  <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                  <span class="stars stars--large">
                     <span style="width: <%=width_star%>%"></span>
                  </span>
                     <span class="number" itemprop="rating"><%=total_star%></span>
                     <span class="eval-count" itemprop="votes">(<%=total_rate%>명 참여)</span>
                  </div>
               </div>
               <div class="west">
                  <h5>줄거리</h5>
                  <h3>"<%=rows[0].description_title%>"<h3><br>
                  <div class="story"><%=rows[0].description%></div>
                  <h5 class="all-review heading">
                     코멘트
                  </h5>
                  <ul class="all-review review-list">
                      <%
                        if(rows[0].comment.length > 8) num = 8;
                        else num = rows[0].comment.length;

                        for (var k = rows[0].comment.length - 1 ; k >= rows[0].comment.length - num; k--)
                        {
                            oneComment = rows[0].comment[k]
                      %>
                            <li>
                               <div class="blur-area">
                                  <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                                  <div class="review">

                                     <div class="name"><%=oneComment['email']%></div>
                                     <p class="text"><%=oneComment['text']%></p>
                                     <div class="watch-records" style="display: none;"></div>
                                     <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                       </span>
                                         </div>
                                  </div>
                                  <span class="balloon-arrow"></span>
                               </div>
                            </li>
                      <%
                        }
                      %>

                      <%
                        if (email)
                        {
                      %>
                          <div style="margin-top:-100px;"><iframe width="100%" height="300px" scrolling="no" frameborder="0" src="http://localhost:3000/movies/comment/<%=email%>/<%=rows[0].title_eng%>"></iframe></div>
                      <%
                        }
                      %>


                  </ul>



               </div>


               <div class="east">

                  <h5>감독</h5>
                  <ul class="movie-people">
                     <li class="movie-person director">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" class="pic" width="40" height="40"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538"><%=rows[0].director%></a>
                        <span class="eng-name">Director</span>
                     </li>
                  </ul>
                  <h5>주연</h5>
                  <ul class="movie-people">

                    <%
                      var fields = rows[0].actors.split(',')
                      for(var m=0;m<fields.length;m++)
                      {
                    %>


                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059"><img src="./test1_files/cbe45b5cb13e7c73231e.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059"><%=fields[m]%></a>
                        <span class="eng-name">Actor</span>
                     </li>

                     <% } %>

                  </ul>

               </div>


               <div class="clear"></div>
               <input type="hidden" name="visitor" id="visitor" value="false">
            </div>
            <script type="text/javascript">
               (function(){ // 슬라이드 넘기는 자바스크립트 부분
                 $(document).ready(function($) {
                   var mySwipe = new Swipe(movieDetailWrapper.find('.biggest-stillcut .swipe')[0], {
                     speed: 650,
                     auto: 5000,
                     continuous: true,
                     disableScroll: false,
                     stopPropagation: false
                   });
                   $(".swipe-prev > a").click(function(e){
                     e.preventDefault();
                     mySwipe.prev();
                   });
                   $(".swipe-next > a").click(function(e){
                     e.preventDefault();
                     mySwipe.next();
                   });
                 });

                 var vodAllBtn = $('.vod-area .all-button');
                 var vodAllList = $('.vod-area .vod-list');

                 vodAllBtn.on('click', function(){
                   if(vodAllList.css('display') == 'block'){
                     vodAllList.hide();
                   } else {
                     vodAllList.show();
                   }
                 });
               })();
            </script>
         </div>
      </div>
      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer" style="clear:both">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
              <li><a class="facebook" href=//facebook.com></a></li>
              <li><a class="google" href=//google.com></a></li>
              <li><a class="pinterest" href=//pinterest.com></a></li>
              <li><a class="youtube" href=//youtube.com></a></li>
              <li><a class="instagram" href=//instagram.com></a></li>
              <li><a class="linkedin" href=//linkedin.com></a></li>
            </ul>
        </footer>
    </div>


   </body>
</html>
