<!DOCTYPE html>
<html>
   <head>
      <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Movie-Detail.css">
      <script src="/javascripts/Movie-Detail1.js"></script>
      <script src="/javascripts/Movie-Detail2.js"></script>
   </head>
   <body class="landing nanum-gothic linux">

     <div id="header">
         <div class="for-popup-scroll-area-margin">
             <div class="inner responsive-mask">
                 <ul class="gnb clearfix">
                     <li class="navi-item home ">
                         <a href="/">
                         <img src="/images/logo/logo.png" width="30" height="30">
                         </a>
                         <span class="highlight"></span>
                     </li>
                     <li class="navi-item boxoffice">
                        <a href="/movies">박스오피스</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/latestoffice">최신영화</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/recommend">추천영화</a>
                        <span class="highlight"></span>
                     </li>
                 </ul>
                 <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                     <div class="input-wrapper">
                         <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                         <span id="search-icon"></span>
                     </div>
                     <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
                 </form>
                 <% if(email){ %>
                   <div id="gnb-right-menu" class="right-menu">


                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/logout">
                              로그아웃

                         </a>
                         <span class="highlight"></span>

                      </div>
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="#아이디클릭" onclick="window.open('/', 'newwindow', 'width=300, height=250'); return false;">
                              내정보

                         </a>
                         <span class="highlight"></span>
                         <div class="dropdown">
                            <ul>
                               <li>
                                  <a href="https://watcha.net/v2/users/k1dp84nRqd4m/wishlist">영화보관함</a>
                                  <span class="count">19</span>
                               </li>
                               <li>
                                  <a href="https://watcha.net/giftbox">선물함</a>
                               </li>
                               <li class="divide-line">
                                  <a href="https://watcha.net/#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                               </li>
                               <li class="divide-line">
                                  <a href="https://watcha.net/#" class="setting">설정</a>
                               </li>
                               <li>
                                  <a href="https://watcha.net/logout">로그아웃</a>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                 <% }else{ %>
                   <div id="gnb-right-menu" class="right-menu">
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/signup">
                              회원가입

                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/login">
                              로그인

                         </a>
                         <span class="highlight"></span>

                      </div>
                   </div>

                 <% } %>


             </div>
         </div>
     </div>
      <div id="contents" style="min-height: 927px;">
         <div class="movie-detail-container">
            <div class="movie-detail m3xlkh detail-page ">

               <div class="top-area">
                  <div class="biggest-stillcut ">
                     <div id="slider" class="swipe" style="visibility: visible;">
                        <div class="swipe-wrap" style="width: 12220px;">
                          <%
                            var left = 0
                            var rightNow = new Date();
                            var today = rightNow.toISOString().slice(0,10).replace(/-/g,"");
                            var dday = today - parseInt(rows[0].release_date);
                            var dday_str = ''
                            if (dday >= 0) dday_str  = 'D + ' + dday
                            else dday_str = 'D ' + dday

                            var oneItem = rows[0];
                            var width_star = 0;
                            var total_star = 0

                            var total_rate = oneItem.likes.length + oneItem.dislikes.length;

                            if (total_rate != 0) {
                              total_star = (oneItem.likes.length / total_rate) * 5;
                              total_star = total_star.toFixed(1);
                              width_star = total_star * 20;
                            }

                            for(var i = 0; i < rows[0]['slide_img_url'].length; i++)
                            {
                              left = left + 940
                          %>
                              <div style="background-image: url('<%=rows[0]['slide_img_url'][i]%>'); width: 940px; left: -<%=left%>px; transition-duration: 0ms; transform: translate(-940px, 0px) translateZ(0px);" data-index="<%=i%>"></div>
                          <%
                            }
                          %>


                        </div>
                     </div>
                     <ul class="swipe-controls">
                        <li class="swipe-prev">
                           <a href="#">이전</a>
                        </li>
                        <li class="swipe-next">
                           <a href="#">다음</a>
                        </li>
                     </ul>
                  </div>
                  <div class="stillcut-shadow"></div>
                  <div class="running-info">
                     <div class="item booking-rate">
                        <div class="head">예매율</div>
                        <div class="data"><span class="number">26.09</span>%</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item customer-count">
                        <div class="head">누적관객수</div>
                        <div class="data">1,080,385</div>
                        <span class="divider"></span>
                     </div>
                     <div class="item d-day">
                        <div class="head">개봉일</div>
                        <div class="data english"><%=dday_str%></div>
                     </div>
                  </div>
                  <a href="/movies/detail/<%=oneItem.title_eng%>/booking-one"><div class="booking-button book"><span class="icon"></span>예매하기</div></a>
               </div>
               <div class="cise-wrapper" itemscope="" itemtype="http://data-vocabulary.org/review-aggregate">
                  <div id="detailWatchaCard" style="">
                     <div class="movie-card size-1x1 poster-type base_movie  user-action-m3xlkh card grid-1 hei-1">
                        <div class="poster-wrapper">
                           <img class="poster" src="<%=rows[0].poster_img_url%>" width="100%">
                        </div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     var movieDetailWrapper = $('.movie-detail.m3xlkh.detail-page')
                     var detailWatchaCard = movieDetailWrapper.find('#detailWatchaCard')
                     $.ajax({
                       url: '/movie/m3xlkh.json',
                       success: function(movie){
                         card = new MovieCard('poster_movie_card', '1x1', movie.items[0], {
                           preventDetailPopup: true,
                           hidePredictedRating: true
                         });0
                         detailWatchaCard.append(card.el);
                         detailWatchaCard.show();
                       }
                     })
                  </script>
                  <div class="info">
                     <div class="title"><%=rows[0].title_kor%></div>
                  </div>

                  <div class="desc"><%=rows[0].title_eng%>, <%=rows[0].release_date%>, <%=rows[0].nation%>, <%=rows[0].genre%>, <%=rows[0].grade%>, <%=rows[0].run_time%></div>
                  <div class="watcha-rating-wrapper">
                  <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                  <span class="stars stars--large">
                     <span style="width: <%=width_star%>%"></span>
                  </span>
                     <span class="number" itemprop="rating"><%=total_star%></span>
                     <span class="eval-count" itemprop="votes">(<%=total_rate%>명 참여)</span>
                  </div>
               </div>
               <div class="west">
                  <h5>줄거리</h5>
                  <h3>"<%=rows[0].description_title%>"<h3><br>
                  <div class="story"><%=rows[0].description%></div>
                  <h5 class="all-review heading">
                     코멘트
                  </h5>
                  <ul class="all-review review-list">
                      <%
                        if(rows[0].comment.length > 8) num = 8;
                        else num = rows[0].comment.length;

                        for (var k = rows[0].comment.length - 1 ; k >= rows[0].comment.length - num; k--)
                        {
                            oneComment = rows[0].comment[k]
                      %>
                            <li>
                               <div class="blur-area">
                                  <div class="user-pic" onclick="closePopupBeforeLeave(event);"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg"></div>
                                  <div class="review">

                                     <div class="name"><%=oneComment['email']%></div>
                                     <p class="text"><%=oneComment['text']%></p>
                                     <div class="watch-records" style="display: none;"></div>
                                     <div class="bottom-left"><span class="updated-at">3일 전</span><span class="like-module rl-4993362">
                                       </span>
                                         </div>
                                  </div>
                                  <span class="balloon-arrow"></span>
                               </div>
                            </li>
                      <%
                        }
                      %>

                      <%
                        if (email)
                        {
                      %>
                          <div style="margin-top:-100px;"><iframe width="100%" height="300px" scrolling="no" frameborder="0" src="http://localhost:3000/movies/comment/<%=email%>/<%=rows[0].title_eng%>"></iframe></div>
                      <%
                        }
                      %>


                  </ul>



               </div>


               <div class="east">

                  <h5>감독</h5>
                  <ul class="movie-people">
                     <li class="movie-person director">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" class="pic" width="40" height="40"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="211538">요아킴 뢰닝</a>
                        <span class="eng-name">Joachim Ronning</span>
                     </li>
                     <li class="movie-person director">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="24086"><img src="https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg" class="pic" width="40" height="40"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="24086">에스펜 잔드베르크</a>
                        <span class="eng-name">Espen Sandberg</span>
                     </li>
                  </ul>
                  <h5>주연</h5>
                  <ul class="movie-people">
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059"><img src="./test1_files/cbe45b5cb13e7c73231e.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="35059">조니 뎁</a>
                        <span class="kor-role">잭 스패로우 역</span>
                        <span class="eng-name">Johnny Depp</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="21470"><img src="./test1_files/cedcd411399aa84966ad.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="21470">하비에르 바르뎀</a>
                        <span class="kor-role">살라자르 역</span>
                        <span class="eng-name">Javier Bardem</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="283328"><img src="./test1_files/a5403163a9c9fd9d1648.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="283328">브렌튼 스웨이츠</a>
                        <span class="kor-role">헨리 터너 역</span>
                        <span class="eng-name">Brenton Thwaites</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="140742"><img src="./test1_files/94fe1b8582c752d03902.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="140742">카야 스코델라리오</a>
                        <span class="kor-role">카리나 스미스 역</span>
                        <span class="eng-name">Kaya Scodelario</span>
                     </li>
                  </ul>
                  <h5>조연</h5>
                  <ul class="movie-people">
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="72166"><img src="./test1_files/4a681c1747c28b4e6bca.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="72166">올랜도 블룸</a>
                        <span class="kor-role">윌 터너 역</span>
                        <span class="eng-name">Orlando Bloom</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="87915"><img src="./test1_files/e939f08ec402fbc834e9.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="87915">제프리 러쉬</a>
                        <span class="kor-role">헥터 바르보사 역</span>
                        <span class="eng-name">Geoffrey Rush</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="303069"><img src="./test1_files/59c44d927f355f54d219.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="303069">데이빗 웬햄</a>
                        <span class="kor-role">스카필드 역</span>
                        <span class="eng-name">David Wenham</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="102448"><img src="./test1_files/8178a5614a0633ca136d.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="102448">골쉬프테 파라하니</a>
                        <span class="kor-role">하이파 메니 역</span>
                        <span class="eng-name">Golshifteh Farahani</span>
                     </li>
                     <li class="movie-person actor">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="251122"><img src="./test1_files/201c8cb2e5ab47a140e7.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="251122">스티븐 그레이엄</a>
                        <span class="kor-role">스크럼 역</span>
                        <span class="eng-name">Stephen Graham</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="248478"><img src="./test1_files/4c9d746c780802a547dc.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="248478">케빈 맥널리</a>
                        <span class="kor-role">깁스 역</span>
                        <span class="eng-name">Kevin McNally</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="62769"><img src="./test1_files/9f2ab20eb1ee95a4766a.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="62769">마틴 클레바</a>
                        <span class="kor-role">마티 역</span>
                        <span class="eng-name">Martin Klebba</span>
                     </li>
                     <li class="movie-person actor" style="display:none;">
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="91306"><img src="./test1_files/f9c2d62a4a9439b235ca.jpg" class="pic" width="40" height="40" onerror="this.src = &#39;https://d3sz5r0rl9fxuc.cloudfront.net/assets/default/movie_person/photo_n_cr-145b0954def96700f003183e1841c4a67c1d9db03e8ca6f724e79c05dce13f4c.jpg&#39;;return false;"></a>
                        <a href="javascript:void(0)" class="kor-name popup-involve-movies" data-person-id="91306">키이라 나이틀리</a>
                        <span class="kor-role">엘리자베스 스완 역</span>
                        <span class="eng-name">Keira Knightley</span>
                     </li>
                  </ul>


               </div>


               <div class="clear"></div>
               <input type="hidden" name="visitor" id="visitor" value="false">
            </div>
            <script type="text/javascript">
               (function(){ // 슬라이드 넘기는 자바스크립트 부분
                 $(document).ready(function($) {
                   var mySwipe = new Swipe(movieDetailWrapper.find('.biggest-stillcut .swipe')[0], {
                     speed: 650,
                     auto: 5000,
                     continuous: true,
                     disableScroll: false,
                     stopPropagation: false
                   });
                   $(".swipe-prev > a").click(function(e){
                     e.preventDefault();
                     mySwipe.prev();
                   });
                   $(".swipe-next > a").click(function(e){
                     e.preventDefault();
                     mySwipe.next();
                   });
                 });

                 var vodAllBtn = $('.vod-area .all-button');
                 var vodAllList = $('.vod-area .vod-list');

                 vodAllBtn.on('click', function(){
                   if(vodAllList.css('display') == 'block'){
                     vodAllList.hide();
                   } else {
                     vodAllList.show();
                   }
                 });
               })();
            </script>
         </div>
      </div>
      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer" style="clear:both">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
                <li><a class="facebook" href=#></a></li>
                <li><a class="google" href=#></a></li>
                <li><a class="pinterest" href=#></a></li>
                <li><a class="youtube" href=#></a></li>
                <li><a class="instagram" href=#></a></li>
                <li><a class="linkedin" href=#></a></li>
            </ul>
        </footer>
    </div>


   </body>
</html>
