<!DOCTYPE html>
<!-- saved from url=(0040)https://watcha.net/v2/users/k3QELceSuQje -->
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
      <link rel="stylesheet" media="screen" href="/stylesheets/Myinfo.css">
      <script src="/javascripts/Myinfo.js"></script>
   </head>
   <body class="user nanum-gothic linux">
     <div id="header">
         <div class="for-popup-scroll-area-margin">
             <div class="inner responsive-mask">
                 <ul class="gnb clearfix">
                     <li class="navi-item home ">
                         <a href="/">
                         <img src="/images/logo/logo.png" width="30" height="30">
                         </a>
                         <span class="highlight"></span>
                     </li>
                     <li class="navi-item boxoffice">
                        <a href="/movies">박스오피스</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/latestoffice">최신영화</a>
                        <span class="highlight"></span>
                     </li>
                     <li class="navi-item genre ">
                        <a href="/movies/recommend">추천영화</a>
                        <span class="highlight"></span>
                     </li>
                 </ul>
                 <form accept-charset="UTF-8" action="/search" id="search-form" method="get">
                    <div class="input-wrapper">
                       <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                       <input id="input-query" name="title_eng" type="search" autocomplete="off" class="ui-autocomplete-input">
                       <span id="search-icon"></span>
                    </div>
                 </form>
                 <% if(email){ %>
                   <div id="gnb-right-menu" class="right-menu">


                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/logout">
                              로그아웃
                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/movies/myticket">
                              예약내역
                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px;padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/movies/myinfo">
                              내 정보
                         </a>
                         <span class="highlight"></span>
                      </div>
                   </div>
                 <% }else{ %>
                   <div id="gnb-right-menu" class="right-menu">
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/signup">
                              회원가입

                         </a>
                         <span class="highlight"></span>
                      </div>
                      <div class="menu my" style="padding-bottom: 10px; padding-right: 14px;padding-left: 10px;">
                         <a class="name" href="/login">
                              로그인

                         </a>
                         <span class="highlight"></span>

                      </div>
                   </div>

                 <% } %>


             </div>
         </div>
     </div>
      <div id="contents" style="min-height: 1035px;height: 2000px;">
         <header id="profile" style="background-image:url(https://d12hfz37g51hrt.cloudfront.net/s/large/-352c8d13f8d511729508.jpg?1451498050); ">
            <div class="dimmer"></div>
            <section id="account">
               <div class="thumbnail"><img onerror="utils.loadDefaultImg(this, &#39;medium&#39;);" src="/images/icon/profile.jpg"></div>
               <h1 class="name"><%=email%></h1>
            </section>

         </header>
         <section id="taste" style="position: relative; height: 1142px;">
           <%
              if(dic_nation[0])
              {
              %>
              <div class="card" id="rating-distribution" style="position: absolute; left: 10px; top: 36px;">
                 <div class="row header">
                    <h2 class="small">별점분포</h2>
                    <%
                      if(num_rate_average < 2)
                      {
                    %>
                      <span class="flavor-text">세상을 부정적으로 바라보는 '부정파' </span>
                    <%
                      }
                      else if(num_rate_average > 4)
                      {
                    %>
                      <span class="flavor-text">세상을 긍정적으로 바라보는 '긍정파'</span>
                    <%
                      }
                      else
                      {
                    %>
                    <span class="flavor-text">세상을 애매하게 바라보는 '애매파'</span>
                    <%
                      }
                    %>

                 </div>
                 <div class="row chart" data-distribution="{&quot;1&quot;:0,&quot;2&quot;:1,&quot;3&quot;:0,&quot;4&quot;:2,&quot;5&quot;:1,&quot;6&quot;:1,&quot;7&quot;:1,&quot;8&quot;:2,&quot;9&quot;:4,&quot;10&quot;:3}">
                    <%
                      if(num_rate_average < 2)
                      {
                    %>
                      <div style="margin-left:150px; margin-top:25px;"><img src="http://www.organizaracasa.com/wp-content/uploads/2016/02/angry-icon-150x150.png"></div>
                    <%
                      }
                      else if(num_rate_average > 4)
                      {
                    %>
                      <div style="margin-left:150px; margin-top:25px;"><img src="http://www.carlswebgraphics.com/smiley/happy-smiley-face.png"></div>
                    <%
                      }
                      else
                      {
                    %>
                    <div style="margin-left:150px; margin-top:25px;"><img src="https://s-media-cache-ak0.pinimg.com/736x/50/3e/89/503e89bda8a1b47400be44846f7c9554.jpg"></div>
                    <%
                      }
                    %>



                 </div>
                 <div class="row stats">
                    <div class="col-2"><strong class="stat-count average-rating"><%=num_rate_average%></strong>별점 평균</div>
                    <div class="col-2"><strong class="stat-count"><%=num_rate_total%></strong>평가한 영화 수</div>
                    <div class="col-2"><strong class="stat-count"><%=num_comment_total%></strong>코멘트 수</div>
                 </div>
              </div>
              <div class="card sorted-by-rating expanded" id="favorite-nations" style="position: absolute; left: 490px; top: 36px;">
                 <div class="row header">
                    <h2 class="small">선호국가</h2>
                    <span class="flavor-text"><%=dic_nation[0].key%> 영화를 재밌게 보셨어요</span>
                 </div>
                 <div class="row map"><span class="marker icon-favorite-3" data-nation-id=""></span></div>

                 <%
                    for(var i = 0; i < dic_nation.length; i++)
                    {
                      oneItem = dic_nation[i]
                      num_score = (oneItem.like / oneItem.value) * 5;
                      num_score = num_score.toFixed(0);
                      num_score = num_score * 20
                      if(i == 0)
                      {
                      %>
                      <div class="row best">
                         <div class="col-2 left"><span class="icon-favorite-1"></span><%=oneItem.key%></div>
                         <div class="col-2"><%=num_score%>점</div>
                         <div class="col-2 right"><%=oneItem.value%>편</div>
                      </div>
                      <%
                      }
                      else if(i == 1)
                      {
                      %>
                      <div class="row best">
                         <div class="col-2 left"><span class="icon-favorite-2"></span><%=oneItem.key%></div>
                         <div class="col-2"><%=num_score%>점</div>
                         <div class="col-2 right"><%=oneItem.value%>편</div>
                      </div>
                      <%
                      }
                      else
                      {
                      %>
                      <div class="row best">
                         <div class="col-2 left"><span class="icon-favorite-3"></span><%=oneItem.key%></div>
                         <div class="col-2"><%=num_score%>점</div>
                         <div class="col-2 right"><%=oneItem.value%>편</div>
                      </div>
                      <%
                      }



                    }
                 %>



                 <script>(function() {
                    $('#show-more-nations').on('click', function() {
                      $('#favorite-nations .runner-ups').show();
                      $(this).parent().addClass('expanded');
                      $(this).remove();
                      try {
                        return $('#taste').masonry();
                      } catch (error) {}
                    });

                    }).call(this);
                 </script>
              </div>
              <div class="card sorted-by-rating not-available hide-sample" id="favorite-directors" style="position: absolute; left: 970px; top: 315px;">
                 <div class="row header">
                    <h2>평가</h2>
                 </div>
                 <div class="ribbon"></div>
                 <div class="row message">
                    <p>지금 당장 영화를 더 보시는 건 어떤가요?<br> 더 많은 영화를 보고 평가를 해주세요. 더 정확한 추천이 가능해요! </p>
                 </div>

                 <a href="/movies/recommend" style="color: inherit;"><button class="show-sample" id="show-sample-directors">추천 영화</button></a><a class="evalmore" href="/movies/latestoffice">영화 평가 늘리기 ▶︎</a>

              </div>
              <div class="card sorted-by-rating" id="favorite-genres" style="position: absolute; left: 10px; top: 494px;">
                 <div class="row header">
                    <h2 class="small">선호장르</h2>
                    <span class="flavor-text">즐겨먹는 과자는 뿌셔뿌셔</span>
                 </div>
                 <div class="row chart">
                    <div class="col-6">
                       <svg data-distribution="[6, 2, 2, 2]" id="favorite-genres-chart">
                          <g transform="translate(81,81)">
                             <g class="arc">
                                <path d="M-25.03037654437077,77.03557781990743A81,81 0 0,1 25.030376544370725,-77.03557781990745L20.395121628746516,-62.76973007548014A66,66 0 0,0 -20.395121628746555,62.769730075480126Z"></path>
                             </g>
                             <g class="arc">
                                <path d="M25.030376544370725,-77.03557781990745A81,81 0 0,1 79.22995565943826,-16.840846956238476L64.55774164843118,-13.722171593972092A66,66 0 0,0 20.395121628746516,-62.76973007548014Z"></path>
                             </g>
                             <g class="arc">
                                <path d="M79.22995565943826,-16.840846956238476A81,81 0 0,1 54.19957911506757,60.19473086366889L44.16262001968469,49.047558481507984A66,66 0 0,0 64.55774164843118,-13.722171593972092Z"></path>
                             </g>
                             <g class="arc">
                                <path d="M54.19957911506757,60.19473086366889A81,81 0 0,1 -25.030376544370718,77.03557781990745L-20.39512162874651,62.76973007548014A66,66 0 0,0 44.16262001968469,49.047558481507984Z"></path>
                             </g>
                          </g>
                       </svg>

                    </div>
                 </div>

                   <%
                      for(var i = 0; i < dic_genre.length; i++)
                      {
                        oneItem = dic_genre[i]
                        num_score = (oneItem.like / oneItem.value) * 5;
                        num_score = num_score.toFixed(0);
                        num_score = num_score * 20

                        if(i == 0)
                        {
                        %>
                        <div class="row best">
                        <div class="genre"><span class="icon-favorite-1"></span><a class="name" href="#"><%=oneItem.key%></a><span class="stat">
                        <strong class="rating"><%=num_score%>점  </strong>/<strong class="count"><%=oneItem.value%></strong>편
                           </span>
                        </div>
                        <%
                        }
                        else if(i == 1)
                        {
                        %>
                        <div class="genre"><span class="icon-favorite-2"></span><a class="name" href="#"><%=oneItem.key%></a><span class="stat">
                           <strong class="rating"><%=num_score%>점  </strong>/<strong class="count"><%=oneItem.value%></strong>편
                           </span>
                        </div>
                        <%
                        }
                        else if(i == 2)
                        {
                        %>
                        <div class="genre"><span class="icon-favorite-3"></span><a class="name" href="#"><%=oneItem.key%></a><span class="stat">
                           <strong class="rating"><%=num_score%>점  </strong>/<strong class="count"><%=oneItem.value%></strong>편
                           </span>
                        </div>
                        </div>
                        <div class="runner-ups">
                        <%
                        }
                        else
                        {
                        %>
                        <div class="row">
                       <div class="col-2 left"><a class="name" href="#"><%=oneItem.key%></a></div>
                       <div class="col-2"><%=num_score%>점  </div>
                       <div class="col-2 right"><%=oneItem.value%>편</div>
                    </div>

                        <%
                        }



                      }
                   %>
                 </div>
              </div>
              <div class="card" id="watched-hours" style="position: absolute; left: 970px; top: 36px;">
                 <div class="row header">
                   <h2 class="small">관람시간</h2>
                    <h2 class="flavor-text">에이 설마 이것만 본 건 아닐 거예요.</h2>
                 </div>
                 <div class="row stats">
                    <div class="bubble"><span class="icon-clock"></span><span class="label">시간</span><strong class="stat-count"><%=num_total_time%></strong></div>
                 </div>
              </div>
              <%
              }
           %>


            <!-- <div class="card" id="favorite-keywords" style="position: absolute; left: 490px; top: 700px;">
               <div class="row header">
                  <h2 class="small">선호키워드</h2>
               </div>
               <div class="row keywords jqcloud" data-keywords="[{&quot;tag_id&quot;:408,&quot;score&quot;:23.1113632377131,&quot;text&quot;:&quot;이식&quot;},{&quot;tag_id&quot;:459,&quot;score&quot;:21.9305331920539,&quot;text&quot;:&quot;선거&quot;},{&quot;tag_id&quot;:380,&quot;score&quot;:20.1401875026317,&quot;text&quot;:&quot;편견&quot;},{&quot;tag_id&quot;:200,&quot;score&quot;:18.1795553805732,&quot;text&quot;:&quot;노예&quot;},{&quot;tag_id&quot;:823,&quot;score&quot;:16.6109177602999,&quot;text&quot;:&quot;풍자적인&quot;},{&quot;tag_id&quot;:187,&quot;score&quot;:15.7803432726552,&quot;text&quot;:&quot;인종차별&quot;},{&quot;tag_id&quot;:185,&quot;score&quot;:15.5531739089708,&quot;text&quot;:&quot;형사&quot;},{&quot;tag_id&quot;:707,&quot;score&quot;:15.2544433431157,&quot;text&quot;:&quot;우주&quot;},{&quot;tag_id&quot;:495,&quot;score&quot;:14.6589269571867,&quot;text&quot;:&quot;바이러스&quot;},{&quot;tag_id&quot;:93,&quot;score&quot;:14.598925789821,&quot;text&quot;:&quot;수사&quot;}]" style="width: 416px; height: 220px;"><span id="hb2a_word_0" class="w10" style="position: absolute; left: 185.5px; top: 95.5px;">이식</span><span id="hb2a_word_1" class="w9" style="position: absolute; left: 122.013px; top: 90.1408px;">선거</span><span id="hb2a_word_2" class="w7" style="position: absolute; left: 198.695px; top: 50.0324px;">편견</span><span id="hb2a_word_3" class="w5" style="position: absolute; left: 225.812px; top: 138.215px;">노예</span><span id="hb2a_word_4" class="w3" style="position: absolute; left: 262.647px; top: 92.9141px;">풍자적인</span><span id="hb2a_word_5" class="w2" style="position: absolute; left: 125.303px; top: 146.374px;">인종차별</span><span id="hb2a_word_6" class="w2" style="position: absolute; left: 131.358px; top: 53.5924px;">형사</span><span id="hb2a_word_7" class="w2" style="position: absolute; left: 72.6941px; top: 134.186px;">우주</span><span id="hb2a_word_8" class="w1" style="position: absolute; left: 273.406px; top: 49.1969px;">바이러스</span><span id="hb2a_word_9" class="w1" style="position: absolute; left: 285.871px; top: 145.971px;">수사</span></div>
               <script>(function() {
                  var kw, word_array;

                  word_array = (function() {
                    var i, len, ref, results;
                    ref = $('#favorite-keywords .keywords').data('keywords');
                    results = [];
                    for (i = 0, len = ref.length; i < len; i++) {
                      kw = ref[i];
                      results.push({
                        text: kw.text,
                        weight: kw.score
                      });
                    }
                    return results;
                  })();

                  $('#favorite-keywords .keywords').jQCloud(word_array, {
                    removeOverflowing: true,
                    afterCloudRender: function() {
                      var min, positions, w;
                      positions = (function() {
                        var i, len, ref, results;
                        ref = $(this).children('span');
                        results = [];
                        for (i = 0, len = ref.length; i < len; i++) {
                          w = ref[i];
                          results.push($(w).position().top);
                        }
                        return results;
                      }).call(this);
                      min = Math.min.apply(null, positions);
                      return $(this).css('margin-top', "-\#{min}px");
                    }
                  });

                  }).call(this);
               </script>
            </div> -->
         </section>
      </div>





      <link rel='stylesheet' href='/stylesheets/Footer.css'>
      <div id="footer" style="clear:both">
        <footer class="top-footer">
            <h5>Join GodRoyal On</h5>
            <ul class="social">
              <li><a class="facebook" href=//facebook.com></a></li>
              <li><a class="google" href=//google.com></a></li>
              <li><a class="pinterest" href=//pinterest.com></a></li>
              <li><a class="youtube" href=//youtube.com></a></li>
              <li><a class="instagram" href=//instagram.com></a></li>
              <li><a class="linkedin" href=//linkedin.com></a></li>
            </ul>
        </footer>
    </div>


   </body>
</html>
