<!DOCTYPE html>
<html>
   <head>
     <title>감동, 그 이상의 영화 GRL</title>
     <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo.png">
     <link rel="stylesheet" media="screen" href="/stylesheets/MenuSlide.css">
     <script src="/javascripts/MenuSlide.js"></script>
   </head>
   <body class="boxoffice linux">
       <div id="header">
           <div class="for-popup-scroll-area-margin">
               <div class="inner responsive-mask">
                   <ul class="gnb clearfix">
                       <li class="navi-item home ">
                           <a href="/">
                           <img src="/images/logo/logo.png" width="30" height="30">
                           </a>
                           <span class="highlight"></span>
                       </li>
                       <li class="navi-item boxoffice">
                          <a href="#">박스오피스</a>
                          <span class="highlight"></span>
                       </li>
                       <li class="navi-item genre ">
                          <a href="https://watcha.net/recommendation">추천영화</a>
                          <span class="highlight"></span>
                       </li>
                   </ul>
                   <form accept-charset="UTF-8" action="https://watcha.net/search/search" id="search-form" method="get">
                       <div class="input-wrapper">
                           <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                           <span id="search-icon"></span>
                       </div>
                       <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
                   </form>
                   <div id="gnb-right-menu" class="right-menu">
                       <!-- <div class="menu my">
                           <a class="name" href="https://watcha.net/v2/users/k3QELceSuQje">
                           공동환
                           <img class="thumbnail" src="./박스오피스 순위 __ 왓챠_files/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg" width="30" height="30" onerror="utils.loadDefaultImg(this, &#39;thumb&#39;);">
                           </a>          <span class="highlight"></span>
                           <div class="dropdown">
                               <ul>
                                   <li>
                                       <a href="https://watcha.net/v2/users/k3QELceSuQje/wishlist">영화보관함</a>
                                       <span class="count">0</span>
                                   </li>
                                   <li>
                                       <a href="https://watcha.net/giftbox">선물함</a>
                                   </li>
                                   <li class="divide-line">
                                       <a href="https://watcha.net/boxoffice#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                                   </li>
                                   <li class="divide-line">
                                       <a href="https://watcha.net/boxoffice#" class="setting">설정</a>
                                   </li>
                                   <li>
                                       <a href="https://watcha.net/logout">로그아웃</a>
                                   </li>
                               </ul>
                           </div>
                       </div> -->
                   </div>
               </div>
           </div>
       </div>

       <link rel="stylesheet" media="screen" href="/stylesheets/MovieCard.css">
       <div id="contents" style="min-height: 927px;">
           <div id="boxoffice-contents">
               <div class="responsive-mask clearfix">
                   <div id="left-cards">
                       <div class="ranking card grid-1 hei-1">
                           <h4 class="head">영화 랭킹</h4>
                           <div class="inner">
                               <ol class="list">
                                   <li class="item rank1" style="">
                                       <a href="https://watcha.net/mv/pirates-of-the-caribbean-2013/m3xlkh" data-movie-id="m3xlkh" data-movie-title-url="pirates-of-the-caribbean-2013">
                                           <span class="number">1</span>캐리비안의 해적: 죽은 자는 말이 없다
                                       </a>
                                   </li>
                                   <li class="item rank2" style="">
                                       <a href="https://watcha.net/mv/project-n-2017/mnifcf" data-movie-id="mnifcf" data-movie-title-url="project-n-2017">
                                           <span class="number">2</span>노무현입니다
                                       </a>
                                   </li>
                                   <li class="item rank3" style="">
                                       <a href="https://watcha.net/mv/daeribgun-gaje-2016/mj4rv3" data-movie-id="mj4rv3" data-movie-title-url="daeribgun-gaje-2016">
                                           <span class="number">3</span>대립군
                                       </a>
                                   </li>
                                   <li class="item " style="">
                                       <a href="https://watcha.net/mv/get-out-2017/m5nj8f" data-movie-id="m5nj8f" data-movie-title-url="get-out-2017">
                                           <span class="number">4</span>겟 아웃
                                       </a>
                                   </li>
                                   <li class="item " style="">
                                       <a href="https://watcha.net/mv/kurokos-basketball-2017/mkgyyy" data-movie-id="mkgyyy" data-movie-title-url="kurokos-basketball-2017">
                                           <span class="number">5</span>극장판 쿠로코의 농구 라스트 게임
                                       </a>
                                   </li>
                                   <li class="item " style="">
                                       <a href="https://watcha.net/mv/wonder-woman-2017/m2hjlm" data-movie-id="m2hjlm" data-movie-title-url="wonder-woman-2017">
                                           <span class="number">6</span>원더 우먼
                                       </a>
                                   </li>
                                   <li class="item " style="">
                                       <a href="https://watcha.net/mv/the-merciless-2017/mli5it" data-movie-id="mli5it" data-movie-title-url="the-merciless-2017">
                                           <span class="number">7</span>불한당: 나쁜 놈들의 세상
                                       </a>
                                   </li>
                                   <li class="item " style="">
                                       <a href="https://watcha.net/mv/the-boss-baby-2017/mbj8df" data-movie-id="mbj8df" data-movie-title-url="the-boss-baby-2017">
                                           <span class="number">8</span>보스 베이비
                                       </a>
                                   </li>
                                   <li class="item " style="display:none">
                                       <a href="https://watcha.net/mv/the-100th-love-with-you-2017/muvzr7" data-movie-id="muvzr7" data-movie-title-url="the-100th-love-with-you-2017">
                                           <span class="number">9</span>너와 100번째 사랑
                                       </a>
                                   </li>
                                   <li class="item " style="display:none">
                                       <a href="https://watcha.net/mv/guardians-of-the-galaxy-2017/mqdtac" data-movie-id="mqdtac" data-movie-title-url="guardians-of-the-galaxy-2017">
                                           <span class="number">10</span>가디언즈 오브 갤럭시 VOL. 2
                                       </a>
                                   </li>
                               </ol>
                           </div>
                       </div>
                   </div>
                   <div id="movie-cards">

                     <%
                         for(var i=0; i<rows.length; i++)
                         {
                           var oneItem = rows[i];
                     %>
                       <div class="boxoffice-card card grid-4 hei-1">
                           <div class="poster-area">
                               <div class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m3xlkh fix-action-box card grid-1 hei-1">
                                   <div class="poster-wrapper">
                                       <img class="poster" src="http://movie.phinf.naver.net/20170517_137/1494988360843qAvzP_JPEG/movie_image.jpg" width="100%">
                                   </div>
                               </div>
                           </div>
                           <div class="movie-info">
                               <h5 class="title-filmrate">
                                 <a href="/" class="movie-title">
                                   <%=oneItem.title_kor%>
                                 </a>
                                 <span class="filmrate rate-<%=oneItem.grade%>"><%=oneItem.grade%></span>
                                 <!-- <span class="filmrate rate-15">15</span>
                                 <span class="filmrate rate-18">18</span>
                                 <span class="filmrate rate-all">all</span> -->
                               </h5>
                               <div class="running-info">
                                   <span class="dday">
                                     개봉일: <%=oneItem.release_date[0]%><%=oneItem.release_date[1]%><%=oneItem.release_date[2]%><%=oneItem.release_date[3]%>년
                                     <%=oneItem.release_date[4]%><%=oneItem.release_date[5]%>월
                                     <%=oneItem.release_date[6]%><%=oneItem.release_date[7]%>일
                                   </span>
                                   <!-- <span class="audience-count">누적 관객수 1천명</span> -->
                               </div>
                               <div class="actions">
                                   <div class="reserve btn">
                                           예매
                                           <span class="icon"></span>
                                           <ul class="theaters list">
                                               <li class="theater list-item megabox_id">
                                                   <a target="_blank" href="http://www.megabox.co.kr/?show=detail&amp;rtnShowMovieCode=011859" data-theater="megabox_id">
                                                       <span class="name">
                                                         메가박스
                                                       </span>
                                                   </a>
                                               </li>
                                           </ul>
                                       </div>
                                   <div class="trailer btn" data-youtube-id="5RWz1ostEt8">
                                       <span class="icon"></span> 예고편
                                   </div>
                               </div>
                               <div class="detail-info">
                                   <div class="genre-time-filmrate">
                                       <%=oneItem.genre%>, <%=oneItem.run_time%>, <% if(oneItem.grade == "all") {oneItem.grade="전체관람가";} else { oneItem.grade = oneItem.grade+"세 관람가";}%><%=oneItem.grade%>
                                       <% if(oneItem.grade == "전체관람가") {oneItem.grade = "all";} else if(oneItem.grade == "18세 관람가") {oneItem.grade = "18";} else if(oneItem.grade == "15세 관람가") {oneItem.grade="15";} else {oneItem.grade="12"} %>
                                   </div>
                                   <div class="watcha-rating-wrapper">
                                     <link rel="stylesheet" media="screen" href="/stylesheets/RatingStar.css">
                                     <span class="stars stars--large">
                                        <span style="width: 50%"></span>
                                     </span>
                                       <span class="number">3.8</span>
                                       <span class="eval-count">(721명 참여)</span>
                                   </div>
                                   <div class="directors">
                                       감독 :
                                       <span class="popup-involve-movies" data-person-id="211538"> <%=oneItem.director%></span>
                                   </div>
                                   <div class="casts">
                                       주연 :
                                       <span class="popup-involve-movies" data-person-id="35059"> <%=oneItem.actors%></span>
                                   </div>
                               </div>

                               <div class="comment">
                                   <a href="https://watcha.net/v2/users/BX2PMysxMWhs/comments">
                                       <img width="30" height="30" src="/images/logo/logo.png" onerror="loadDefaultImg(this, &#39;medium&#39;);return false;">
                                   </a>
                                   <a href="https://watcha.net/v2/users/BX2PMysxMWhs/comments" class="name">김형중</a>
                                   <span class="interesting-comment-rating" data-rating="1.5"><span style="display: inline-block; width: 11px; height: 10px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_H.gray_1-2502b64644c5146129a92d5849112b08e460a5c3ca270048e8d708edf5d115fe.png&quot;) 0px 0px / 11px 10px no-repeat;"></span><span style="display: inline-block; width: 6px; height: 10px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_H.gray_1-2502b64644c5146129a92d5849112b08e460a5c3ca270048e8d708edf5d115fe.png&quot;) 0px 0px / 11px 10px no-repeat;"></span><span style="display: inline-block; width: 5px; height: 10px; margin-left: 0px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) -6px 0px / 11px 10px no-repeat;"></span><span style="display: inline-block; width: 11px; height: 10px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) 0px 0px / 11px 10px no-repeat;"></span><span style="display: inline-block; width: 11px; height: 10px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) 0px 0px / 11px 10px no-repeat;"></span><span style="display: inline-block; width: 11px; height: 10px; margin-left: 1px; background: url(&quot;https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_gray-ab3f922b9014d6e60902dec1d93ae5493f36f7f37971c6791be64c56d903ef63.png&quot;) 0px 0px / 11px 10px no-repeat;"></span></span>
                                   <p class="text">
                                       본편에서 나온 대사 좀 빌릴게요 " 한 물 갔네.. "
                                   </p>
                                   <div class="counts">
                                       <span class="wish-count">
                               <span class="icon"></span> 6,647
                               </span>
                               </div>
                               </div>

                           </div>
                       </div>
                       <%
                           }
                       %>



                   </div>
               </div>
           </div>
       </div>






        <link rel='stylesheet' href='/stylesheets/Footer.css'>
        <div id="footer">
          <footer class="top-footer">
              <h5>Join GodRoyal On</h5>
              <ul class="social">
                  <li><a class="facebook" href=#></a></li>
                  <li><a class="google" href=#></a></li>
                  <li><a class="pinterest" href=#></a></li>
                  <li><a class="youtube" href=#></a></li>
                  <li><a class="instagram" href=#></a></li>
                  <li><a class="linkedin" href=#></a></li>
              </ul>
          </footer>
      </div>
   </body>
</html>
